xml/entry.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entry" type="entryType"/>
  <xs:complexType name="linkType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="rel"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="locatorsType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="linkType" name="link"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="morphemesType">
    <xs:sequence>
      <xs:element type="xs:string" name="root"/>
      <xs:element type="xs:string" name="inflection"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nomType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="accType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="genType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="locType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="datType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="insType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="vocType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="v" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sgType">
    <xs:sequence>
      <xs:element type="nomType" name="nom"/>
      <xs:element type="accType" name="acc"/>
      <xs:element type="genType" name="gen" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="locType" name="loc" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="datType" name="dat" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="insType" name="ins" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="vocType" name="voc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="plType">
    <xs:sequence>
      <xs:element type="nomType" name="nom" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="accType" name="acc" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="genType" name="gen" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="locType" name="loc" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="datType" name="dat" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="insType" name="ins" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="vocType" name="voc" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="declensionsType">
    <xs:sequence>
      <xs:element type="sgType" name="sg"/>
      <xs:element type="plType" name="pl"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nounType">
    <xs:sequence>
      <xs:element type="morphemesType" name="morphemes"/>
      <xs:element type="declensionsType" name="declensions"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="gender"/>
  </xs:complexType>
  <xs:complexType name="entryType">
    <xs:sequence>
      <xs:element type="locatorsType" name="locators"/>
      <xs:element type="nounType" name="noun"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

