xml/synset.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="synset" type="synsetType"/>
  <xs:complexType name="nounType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="optionsType">
    <xs:sequence>
      <xs:element type="nounType" name="noun" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agreementType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="case"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="itemType" mixed="true">
    <xs:sequence>
      <xs:element type="agreementType" name="agreement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="examplesType">
    <xs:sequence>
      <xs:element type="itemType" name="item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="synsetType">
    <xs:sequence>
      <xs:element type="optionsType" name="options"/>
      <xs:element type="examplesType" name="examples"/>
    </xs:sequence>
    <xs:attribute ref="xml:lang"/>
  </xs:complexType>
</xs:schema>
